/* MAIN STYLES */
body {
  height: auto
}

/* ALL PRODUCTS COMPONENT */
#all-products-card-col {
  margin: 1em;
}

#all-products-card > img {
  padding: 3em;
}

#all-products-card {
  padding-bottom: 1rem;
}

#all-products-card > .card-body {
  padding: 3px 8px
}

#all-products-card-button-body > button {
  margin: 5px;
}

#all-products-card-button-body > a {
  margin: 1rem;
}

#all-products-card-product-name > h3 {
  padding-top: 15px;
}

/* NAVBAR */
.nav > div > a {
  margin-left: 10%;
  margin-right: 10%;
}

/* USER FORM */
#user-form {
  padding-top: 15px;
}

/* CART */
.table-image > td, th {
    vertical-align: middle;
}

/* PRODUCT FORM */
#productForm-buttons {
  margin-bottom: 2em;
}